<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Trouble Escapers </title>
    <style>
        body {
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            height: 100vh;
            background: linear-gradient(91.9deg, rgb(93, 248, 219) 27.8%, rgb(33, 228, 246) 67%);
        }
        header {
            color: white;
            margin-bottom: 20px;
            padding: 20px;
            background: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
            width: 100%;
        }
        h2 {
            font-size: 20px;
        }
        main {
            background: white;
            padding: 20px;
            max-width: 80%;
            border-radius: 10px;
            margin: 10px auto;
        }
        figure {
            margin: 20px auto;
            display: inline-block;
        }
        figcaption {
            color: grey;
            font-size: 18px;
            font-weight: bold;
            font-style: italic;
        }
        img {
            max-width: 100%;
            height: auto;
            border: solid black;
            border-radius: 10px;
        }
        p {
            font-weight: bold;
            font-size: 20px;
        }
        button {
            color: white;
            background: radial-gradient(circle at 10% 20%, rgb(246, 98, 128) 0%, rgb(248, 129, 135) 98.3%);
            border: solid black;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
        button:hover {
            background: white;
            color: palevioletred;
        }
        footer {
            margin-top: 20px;
            color: white;
            width: 100%;
            padding: 10px;
            background: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
        }
        .heading {
            font-weight: bolder;
            font-size: 24px;
        }
        .info {
            font-size: 20px;
            color: blue;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1> Welcome to Trouble Escapers </h1>
        <h2> Escape the ordinary and dive into an exciting adventure with our thrilling game! </h2>
    </header>
    <main>
        <p> <div class = "heading"> About the Game: </div>
            <div class = "info"> 
                Trouble Escapers is an immersive game that challenges your wit and reflexes. 
                Choose from the two exciting themes and embark on a journey filled with fun and surprises.
            </div>
        </p>
        <figure>
            <img src = "{{ url_for('static', filename='img1.jpeg') }}" width = "300" alt = "Theme 1: It's Halloween Time" >
            <figcaption> 
                Theme 1: It's Halloween Time
                <br>
                <div class = "info">
                    Experience the spooky excitement of Halloween with ghouls and ghosts.
                    <br>
                    Can you escape the haunted maze?
                </div>
            </figcaption>
        </figure>
        <figure>
            <img src = "{{ url_for('static', filename='img2.jpeg') }}" width = "300" alt = "Theme 2: Let's Hack" >
            <figcaption> 
                Theme 2: Let's Hack
                <br>
                <div class = "info">
                    Step into the shoes of a digizen. Navigate through digital maze and outsmart the hacking hats to win.
                </div>
            </figcaption>
        </figure>
        <p>Click the button below to run the game!</p>
        <button onclick = "runPythonScript()"> Start Game </button>
    </main>
    <footer>
        <p> &copy; 2024 Trouble Escapers. All rights reserved. </p>
    </footer>
    <script>
        async function runPythonScript() {
            try {
                let response = await fetch('http://127.0.0.1:5000/run-script', {
                    method: 'POST',
                });
            } catch (error) {
                console.error('Error:', error);
            }
        }   
    </script>

</body>
</html>
